@import url(variables.css);

/* 
Barra de navegacion
*/
.nav__container{
  width: var(--full);
  height: 70px;
  background: var(--primario);
  display: flex;
  align-items: center;

}
.nav__items{
  width: 60%;
  height: var(--full);
}
.nav__list{
  display: flex;
  justify-content: start;
  height: var(--full);
}
.logo{
  width: 50px;
  height: 50px;
}
.nav__logo{
  align-content: center;
  margin: 0 20px;
  list-style: none;
}

.nav__link{
  display: block;
  align-content: center;
  text-decoration: none;
  color: var(--whithe);
  height: 100%;
  margin-left: 20px;
}
.nav__link--titulo{
  font-size: 1.5rem;
  font-weight: bold;
}

.nav__logout{
  font-size: 30px;
  display: inline-flex;
  justify-content: end;
  width: 40%;
  align-items: center;
}
.fa-solid{
  font-size: 1.5rem;
}
/* 
Menu de navegacion
*/

.menu{
  height: 100%;
  width: 350px;
  background: var(--azul-oscuro);
}
.menu__item{
  list-style: none;
}
.menu__title{
  color: var(--whithe);
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-size: 1.5rem;
}
.menu__lista{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 54%;
}
.menu__item{
  height: 50px;
}
.menu__link{
  align-content: center;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--whithe);
  padding-left: var(--margin--icon);
  
}
.menu__link--salir{
  height: 50px;
}
.menu__item:hover{
  background: var(--whithe);
}
.menu__link:hover{
  color: var(--primario);
}
.icono__span {
  display: inline-block;
  width: 60px;
  height: auto;
  padding-right: 10px;
}
.menu__salir {
  height: 32%;
  display: flex;
  align-items: end;
}
.menu__link--salir:hover{
  background: var(--whithe);
  color: var(--black);
}
.menu__item--selec{
  background: var(--whithe);
}
.menu__link--selec{
  color: var(--black);
}
/* 
Botones
*/

.button{
    text-align: center;
    /* padding: var(--padding); */
    height: 42px;
    border-radius: 5px;
    background: var(--primario);
    transition: var(--transition);
}
.btn__link{
    text-decoration: none;
    display: inline-block;
    width: var(--full);
    height: var(--full);
    color: var(--whithe);
    align-content: center;
}
.btns__form{
  width: 80%;
  margin: var(--padding);
}
.button:hover{
  background: var(--secundario);
  color: var(--whithe);
}
.btn__link:hover{
  color: var(--black);
}
.button--logout{
  color: var(--whithe);
  margin-right: var(--margin);
}
.button--color{
  background: var(--whithe);
  border: none;
}
.btn__link--color{
  color: var(--black);
}
.button--color:hover{
  background: var(--gray);
}
.btn__link--color:hover{
  color: var(--whithe);
}
