@import url(Componentes.css);
@import url(variables.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--body);
    display: flex;
    align-items: center;
    height: 100vh;
}
.login__container{
    height: 50%;
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.login__form{
    height: 100%;
    display: flex;
    justify-content: center;
    margin: var(--margin);
    width: 450px;
    flex-direction: column;
}
.btns__form{
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}