:root{
  --primario: black;
  --azul-oscuro: black;
  --alert: #dc3545;
  --agregar: #198754;
  --teal: #20c997;
  --gray: #6c757d;
  --whithe: #fff;
  --black: #000;
  --full: 100%;
  --padding: 8px;
  --gap: 8px;
  --margin: 8px;
  --transition: 1s;
  --margin--icon: 20px;
}